# Python
__pycache__/

# Virtual Environment
venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Local environment variables
.env
.env.local

# G4F specific
har_and_cookies/*
!har_and_cookies/.gitkeep

# Jupyter Notebook
.ipynb_checkpoints

# Generated media files (audio, video, images)
generated_media/
